In [1]:
from absbox.local.china import SPV
from absbox import API
#localAPI = API("https://absbox.org/api/latest")
localAPI = API("http://localhost:8081")


mypool = {"清单":[
          ["分期"
           ,{"放款金额":1200,"放款费率":["固定",0.001],"初始期限":12
            ,"频率":"每月","类型":"等本等费","放款日":"2021-02-01","剩余期限":9}
            ,{"当前余额":800,"状态":"正常"}]
          ,["分期"
           ,{"放款金额":1200,"放款费率":["固定",0.001],"初始期限":12
            ,"频率":"每月","类型":"等本等费","放款日":"2021-02-01","剩余期限":9}
            ,{"当前余额":800,"状态":"正常"}]
          ],
          '封包日':"2021-02-04"}

In [2]:
p = localAPI.runPool(mypool,assumptions={"CDR1":[{"CDR":0.01}],"CDR2":[{"CDR":0.02}]})
p['CDR1']

                 余额   本金    利息  早偿金额  违约金额  回收金额  损失金额  利率
日期
2021-06-01  1650.48  148  1.76     0  1.52     0  1.52   0
2021-07-01  1501.12  148  1.76     0  1.36     0  1.36   0
2021-08-01  1351.84  148  1.76     0  1.28     0  1.28   0
2021-09-01  1200.70  150  1.80     0  1.14     0  1.14   0
2021-10-01  1051.72  148  1.76     0  0.98     0  0.98   0
2021-11-01   900.84  150  1.80     0  0.88     0  0.88   0
2021-12-01   750.10  150  1.80     0  0.74     0  0.74   0
2022-01-01   601.46  148  1.76     0  0.64     0  0.64   0
2022-02-01   450.96  150  1.80     0  0.50     0  0.50   0

In [6]:
p = localAPI.runPool(mypool
                     ,assumptions=[{"CPR":[0.02,0.02,0.03]}
                                   ,{"CDR":[0.01,0.015,0.021]}
                                   ,{"Recovery":(0.7,8)}])
p

                 余额   本金    利息  早偿金额  违约金额  回收金额  损失金额  利率
日期
2021-06-01  1647.40  148  1.76  3.08  1.52  0.00  0.00   0
2021-07-01  1494.64  148  1.76  2.72  2.04  0.00  0.00   0
2021-08-01  1340.12  148  1.76  3.84  2.68  0.00  0.00   0
2021-09-01  1192.12  148  1.76  0.00  0.00  0.00  0.00   0
2021-10-01  1044.12  148  1.76  0.00  0.00  0.00  0.00   0
2021-11-01   896.12  148  1.76  0.00  0.00  0.00  0.00   0
2021-12-01   748.12  148  1.76  0.00  0.00  0.00  0.00   0
2022-01-01   600.12  148  1.76  0.00  0.00  0.00  0.00   0
2022-02-01   450.12  150  1.80  0.00  0.00  1.06  0.44   0
2022-03-01   450.12    0  0.00  0.00  0.00  1.42  0.60   0
2022-04-01   450.12    0  0.00  0.00  0.00  1.86  0.80   0
2022-05-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0
2022-06-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0
2022-07-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0
2022-08-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0
2022-09-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0
2022-10-01   450.12    0  0.00  0.00  0.00  0.00  0.00   0

In [ ]:
,

In [8]:
localAPI.runPool(mypool,assumptions=["ByIndex",[([0,1],[{"CDR":0.01}])], [] ])

type of assumpt : <class 'list'>,['ByIndex', [([0, 1], [{'CDR': 0.01}])], []]

                 余额   本金    利息  早偿金额  违约金额  回收金额  损失金额  利率
日期
2021-06-01  1650.48  148  1.76     0  1.52     0  1.52   0
2021-07-01  1501.12  148  1.76     0  1.36     0  1.36   0
2021-08-01  1351.84  148  1.76     0  1.28     0  1.28   0
2021-09-01  1200.70  150  1.80     0  1.14     0  1.14   0
2021-10-01  1051.72  148  1.76     0  0.98     0  0.98   0
2021-11-01   900.84  150  1.80     0  0.88     0  0.88   0
2021-12-01   750.10  150  1.80     0  0.74     0  0.74   0
2022-01-01   601.46  148  1.76     0  0.64     0  0.64   0
2022-02-01   450.96  150  1.80     0  0.50     0  0.50   0

In [4]:
p['CDR2']

                 余额   本金    利息  早偿金额  违约金额  回收金额  损失金额  利率
日期
2021-06-01  1465.26   74  0.88     0  1.54     0  1.54   0
2021-07-01  1389.90   74  0.88     0  1.36     0  1.36   0
2021-08-01  1314.62  132  1.57     0  2.48     0  2.48   0
2021-09-01  1180.38  132  1.57     0  2.24     0  2.24   0
2021-10-01  1046.43  132  1.57     0  1.95     0  1.95   0
2021-11-01   913.65  131  1.56     0  1.78     0  1.78   0
2021-12-01   780.14  132  1.57     0  1.51     0  1.51   0
2022-01-01   647.81  131  1.56     0  1.33     0  1.33   0
2022-02-01   515.71  131  1.56     0  1.10     0  1.10   0

In [26]:
p = localAPI.runPool(mypool,assumptions=[])
p

              余额   本金   利息  早偿金额  违约金额  回收金额  损失金额     利率
日期
2021-06-01  1408  176  2.1     0     0     0     0  0.001
2021-07-01  1232  176  2.1     0     0     0     0  0.001
2021-08-01  1056  176  2.1     0     0     0     0  0.001
2021-09-01   880  176  2.1     0     0     0     0  0.001
2021-10-01   704  176  2.1     0     0     0     0  0.001
2021-11-01   528  176  2.1     0     0     0     0  0.001
2021-12-01   352  176  2.1     0     0     0     0  0.001
2022-01-01   176  176  2.1     0     0     0     0  0.001
2022-02-01     0  176  2.1     0     0     0     0  0.000

In [11]:
p = localAPI.runPool(mypool,assumptions=[])
p

             余额   本金   利息  早偿金额  违约金额  回收金额  损失金额     利率
日期
2021-07-01  700  100  1.2     0     0     0     0  0.001
2021-08-01  600  100  1.2     0     0     0     0  0.001
2021-09-01  500  100  1.2     0     0     0     0  0.001
2021-10-01  400  100  1.2     0     0     0     0  0.001
2021-11-01  300  100  1.2     0     0     0     0  0.001
2021-12-01  200  100  1.2     0     0     0     0  0.001
2022-01-01  100  100  1.2     0     0     0     0  0.001
2022-02-01    0  100  1.2     0     0     0     0  0.001

In [13]:
p = localAPI.runPool(mypool,assumptions=[])
p

             余额  本金    利息  早偿金额  违约金额  回收金额  损失金额     利率
日期
2021-06-01  704  88  1.05     0     0     0     0  0.001
2021-07-01  616  88  1.05     0     0     0     0  0.001
2021-08-01  528  88  1.05     0     0     0     0  0.001
2021-09-01  440  88  1.05     0     0     0     0  0.001
2021-10-01  352  88  1.05     0     0     0     0  0.001
2021-11-01  264  88  1.05     0     0     0     0  0.001
2021-12-01  176  88  1.05     0     0     0     0  0.001
2022-01-01   88  88  1.05     0     0     0     0  0.001
2022-02-01    0  88  1.05     0     0     0     0  0.001

In [7]:
localAPI.build_pool_req(mypool,assumptions=myAssumption)

RuntimeError: Error in build pool req

In [5]:
Asset01Assump = [{"CPR":0.01}
                ,{"回收":(0.5,3)}
                ,{"CDR":0.2}]

Asset02Assump = [{"CPR":0.0}
                ,{"回收":(0.5,2)}
                ,{"CDR":0.02}]


myAssumption = ([([0],Asset01Assump)
                 ,([1],Asset02Assump)
                ],
                [{"利率":["LPR5Y",[["2022-01-01",0.05]]]}])


p = localAPI.runPool(mypool,assumptions=myAssumption)
p

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_2900921/474893506.py", line 16, in <module>
    p = localAPI.runPool(mypool,assumptions=myAssumption)
  File "/home/xiaoyu/IdeaProjects/PyABS/absbox/client.py", line 240, in runPool
  File "/home/xiaoyu/IdeaProjects/PyABS/absbox/client.py", line 64, in build_pool_req
    raise RuntimeError("Error in build pool req")
RuntimeError: Error in build pool req

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/usr/lib/python3.10/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [3]:
2018+182

2200

In [15]:
myMortgagePool = {"清单":[
            ["Mortgage"
                    ,{"originBalance":2200,"originRate":["fix",0.045],"originTerm":30
                      ,"freq":"Monthly","type":"Level","originDate":"2021-02-01"}
                      ,{"currentBalance":2200
                      ,"currentRate":0.08
                      ,"remainTerm":20
                      ,"status":"current"}]]
          ,
          '封包日':"2023-01-04"}

p = localAPI.runPool(myMortgagePool
                     ,assumptions=[{"CPR":[0.02,0.02,0.03]}
                                   ,{"CDR":[0.01,0.015,0.021]}
                                   ,{"Recovery":(0.7,8)}])
p

                 余额      本金    利息  早偿金额  违约金额  回收金额  损失金额     利率 债务人数量
日期
2023-02-01  1884.39  309.98  8.22  3.76  1.87  0.00  0.00  0.045  None
2023-03-01  1569.00  310.30  7.04  2.91  2.18  0.00  0.00  0.045  None
2023-04-01  1252.04  310.10  5.85  4.04  2.82  0.00  0.00  0.045  None
2023-05-01   940.79  311.25  4.69  0.00  0.00  0.00  0.00  0.045  None
2023-06-01   628.36  312.43  3.52  0.00  0.00  0.00  0.00  0.045  None
2023-07-01   314.77  313.59  2.35  0.00  0.00  0.00  0.00  0.045  None
2023-08-01     0.00  314.77  1.18  0.00  0.00  0.00  0.00  0.045  None
2023-09-01     0.00    0.00  0.00  0.00  0.00  0.00  0.00  0.000  None
2023-10-01     0.00    0.00  0.00  0.00  0.00  1.30  0.56  0.000  None
2023-11-01     0.00    0.00  0.00  0.00  0.00  1.52  0.65  0.000  None
2023-12-01     0.00    0.00  0.00  0.00  0.00  1.97  0.84  0.000  None
2024-01-01     0.00    0.00  0.00  0.00  0.00  0.00  0.00  0.000  None
2024-02-01     0.00    0.00  0.00  0.00  0.00  0.00  0.00  0.000  None
2024-03-01     0.00    0.00  0.00  0.00  0.00  0.00  0.00  0.000  None
2024-04-01     0.00    0.00  0.00  0.00  0.00  0.00  0.00  0.000  None